@use "../base/abstracts" as *;

.card {
	background-color: var(--bg-card);
	width: 88%;
	max-width: toRem(540);
	margin: toRem(64) auto 0;
	font-size: var(--12px);
	padding: toRem(34) 0;
	border-radius: toRem(8);
	box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
	text-align: center;

	&__views {
		letter-spacing: 1.7px;
		font-weight: var(--fw-bold);
		display: block;
		margin-bottom: toRem(25);
	}

	&__plan {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--14px);
	}

	&__price {
		font-size: var(--32px);
		color: var(--text-accent-dark);
		font-weight: var(--fw-bold);
		margin-right: toRem(10);
		letter-spacing: 0.8px;
	}

	&__billing {
		margin: toRem(36) 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(12);
	}

	&__discount {
		display: inline-block;
		font-size: var(--10px);
		color: var(--text-accent-orange);
		width: toRem(40);
		background: var(--bg-discount);
		border-radius: toRem(9);
		margin-left: toRem(5);
	}

	&__features {
		border-top: 1px solid var(--border-color);
		padding-top: toRem(24);
		padding-bottom: toRem(32);
	}

	&__feature-item:not(:last-child) {
		margin-bottom: toRem(10);
	}

	&__checkmark {
		display: inline-block;
		margin-right: toRem(10);
	}
}
