:root {
	// Font Colors
	--text-primary: hsl(225, 20%, 60%);
	--text-accent-dark: hsl(227, 35%, 25%);
	--text-accent-grey: hsl(226, 100%, 87%);
	--text-accent-orange: hsl(15, 100%, 70%);

	// Background Colors
	--bg-body: hsl(0, 0%, 100%);
	--bg-card: hsl(0, 0%, 100%);
	--bg-toggle: hsl(224, 49%, 87%);
	--bg-toggle-active: hsl(174, 77%, 80%);
	--bg-btn: hsl(227, 35%, 25%);
	--bg-slider: hsl(174, 86%, 45%);
	--bg-slider-bar: hsl(174, 77%, 80%);
	--bg-discount: hsl(14, 92%, 95%);

	// Border/Outline Colors
	--border-color: hsl(224, 65%, 95%);
	--toggle-outline: hsl(174, 86%, 45%);

	// Font Families
	--ff-primary: "Manrope", sans-serif;

	// Font Sizes
	--10px: 0.625rem;
	--12px: 0.75rem;
	--13px: 0.8125rem;
	--14px: 0.875rem;
	--20px: 1.25rem;
	--32px: 2rem;

	// Font Weights
	--fw-normal: 600;
	--fw-bold: 800;
}
